body {
    margin: 0;
    background: black;
}

/* navbar  */

header {
    padding: 10px 50px 2px 50px;
    border-bottom: 1px solid rgb(169, 169, 169, 0.5);
}

.Navbar {
    display: flex;
    gap: 16px;
}

.Navbar__Button {
    all: unset; 
    display: inline-block; 
    padding: 0;
    line-height: 1;
    color: white;
    cursor: pointer;
}

.Navbar__Button:hover {
    border-bottom: 2px solid lightcoral;
    transition: border-color 0.5s ease;
}

#Logo {
    all: unset;
    color: white;
    margin-left: auto;
}

/* home content */

#content {
    padding: 40px 50px 10px 50px;
    color: white;
}

.Home__Content {
    display: flex;
    gap: 10px;
    align-items: center;
}

.Home__Heading {
    margin-bottom: 0;
}

.Home__Heading-right {
    text-align: right;
}

.Home__Image {
    height: 150px;
    width: 150px;
    border-radius: 10px;
}

/* menu content */