body {
    margin: 0;
    background: black;
}

/* navbar  */

header {
    padding: 10px 50px 2px 50px;
    border-bottom: 1px solid rgb(169, 169, 169, 0.5);
}

nav {
    display: flex;
    gap: 16px;
}

nav button {
    all: unset; 
    display: inline-block; 
    padding: 0;
    line-height: 1;
    color: white;
    cursor: pointer;
}

nav button:hover {
    border-bottom: 2px solid lightcoral;
    transition: border-color 0.5s ease;
}

#logo {
    all: unset;
    color: white;
    margin-left: auto;
}

/* home content */

#content {
    padding: 40px 50px 10px 50px;
    color: white;
}

.content-block {
    display: flex;
    align-items: center;
}

.content-block h2 {
    margin-top: 0;
}

.home-img {
    height: 150px;
    width: 150px;
}